@import 'bootstrap.css';
@import 'bootstrap-responsive.css';
@import 'font-awesome.css';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}